.CurrentTemperature {
  margin-top: 10px;
}

.CurrentTemperature .currently-date,
.currently,
.CurrentTemperature .currently-city {
  margin: 10px 15px;
  text-align: center;
}

.CurrentTemperature .currently-city {
  font-weight: bold;
}

.CurrentTemperature .description {
  top: -16px;
  right: -30px;
}

.CurrentTemperature .fa-wind,
.fa-water {
  font-size: 20px;
  color: #333333;
}

.CurrentTemperature .prec {
  position: relative;
}

.CurrentTemperature .temp-change {
  padding: 5px;
  margin-top: 10px;
  font-size: 65px;
}

.CurrentTemperature .weather {
  position: relative;
  text-transform: capitalize;
  font-size: 25px;
  top: 5px;
}
.CurrentTemperature canvas {
  position: relative;
  top: -10px;
  display: block;
  margin: 0 auto;
}
.CurrentTemperature .units {
  position: relative;
  font-size: 25px;
  top: -30px;
}

.CurrentTemperature .active {
  cursor: default;
  color: #333333;
}

.CurrentTemperature .active:hover {
  text-decoration: none;
}
