.Search .search-engine {
  padding: 10px 15px 0 15px;
}
.Search .search-col {
  display: block;
  margin: 0 auto;
}
.container {
  max-width: 700px;
  align-items: center;
  border-radius: 20px;
}

.Search input[type="search"] {
  margin-top: 10px;
  background: #ecfbfc;
}

.Search input[type="submit"] {
  margin-top: 10px;
  background: #ecfbfc;
}

.Search input[type="submit"] {
  color: #070d59;
  border: none;
}
