* {
  font-family: "Dosis", sans-serif;
}
body {
  margin-top: 20px;
}

.App .container {
  max-width: 750px;
  align-items: center;
  border-radius: 20px;
  max-height: auto;
}

h1 {
  text-align: center;
  color: #070d59;
}
.row {
  margin-top: 10px;
  align-items: center;
}

.App .evening {
  background-image: url(https://i.imgur.com/iO1nnJr.png);
  background-repeat: no-repeat;
  color: white;
}
.App .morning {
  background-image: url(https://i.imgur.com/WsjvNsU.png);
  background-repeat: no-repeat;
  color: #bbbbbb;
}
.App .afternoon {
  background-image: url(https://i.imgur.com/WsjvNsU.png);
  background-repeat: no-repeat;
  color: #bbbbbb;
}
