* {
  font-family: "Dosis", sans-serif;
}
body {
  margin-top: 20px;
}

.App .container {
  max-width: 700px;
  align-items: center;
  border-radius: 20px;
}

h1 {
  text-align: center;
  color: #070d59;
}
.row {
  margin-top: 10px;
  align-items: center;
}

.App .evening {
  background-image: url(https://i.imgur.com/KrZ2eHH.png);
}
.App .morning {
  background-image: url(https://i.imgur.com/b2Rp3tw.jpg);
}
.App .afternoon {
  background-image: url(https://i.imgur.com/b2Rp3tw.jpg);
}
