* {
  font-family: "Dosis", sans-serif;
}
body {
  margin-top: 20px;
}

.App .container {
  max-width: 400px;
  align-items: center;
  border-radius: 20px;
  height: 786px;
}

h1 {
  text-align: center;
  color: #070d59;
}
.row {
  margin-top: 10px;
  align-items: center;
}

.App .evening {
  background-image: url(https://i.imgur.com/l1pbXSH.png);
  background-repeat: no-repeat;
  color: white;
}
.App .morning {
  background-image: url(https://i.imgur.com/OGCpTeH.png);
  background-repeat: no-repeat;
  color: white;
}
.App .afternoon {
  background-image: url(https://i.imgur.com/C1TkCPq.png);
  background-repeat: no-repeat;
  color: white;
}
