.TimeForecast .forecast-container {
  margin: 180px 0 15px 0;
  width: auto;
}

.TimeForecast .temps {
  color: white;
  display: inline-block;
  text-align: center;
}

.TimeForecast .forecast canvas {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 40px;
  height: 40px;
}

.TimeForecast .forecast-info {
  text-align: center;
}
.TimeForecast .forecast {
  justify-content: center;
}
.TimeForecast .forecast .forecast-info h3 {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-bottom: 0;
}
